<footer id="contacts-section">
    <div class="container-footer">
        <div class="footer-contacts-section">
            <div class="footer-contacts-social">
                <a class="social-button big facebook" href="https://www.facebook.com/auradecor.bigflowers/" title="AuraDecor Facebook" alt="AuraDecor Facebook" target="_blank"></a>
                <a class="social-button big instagram" href="https://www.instagram.com/auradecor_bigflowers/" title="AuraDecor Instagram" alt="AuraDecor Instagram" target="_blank"></a>
                <a class="social-button big mailto" href="mailto:info@aura.flowers" title="AuraDecor Mail" alt="AuraDecor Mail" target="_blank"></a>
                <a class="social-button big viber" href="viber://chat?number=+421905946443" title="AuraDecor Viber" alt="AuraDecor Viber"></a>
                <!--<a class="social-button big telegram" href="tg://msg?to=+421905946443" title="AuraDecor Telegram" alt="AuraDecor Telegram"></a>-->
                <a class="social-button big whatsup" href="https://wa.me/421905946443" title="AuraDecor Whatsup" alt="AuraDecor Whatsup" target="_blank"></a>
            </div>
            <h1>@Localizer["footer-title"]</h1>
            <a class="button md-trigger" data-modal="modal-12">@Localizer["footer-modal-button"]</a>
            <input type="hidden" value="0" />
        </div>

        <div class="footer-contacts-section-address">
            <h2>Bratislava <br><span>+421 905 946 443</span></h2>
            <h2>Muchovo námestie 3<br><span>85 101 Bratislava</span></h2>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d665.7535751310435!2d17.11503708814729!3d48.12924759869505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c890d644a432f%3A0xaa936421536ebac7!2sBytov%C3%BD%20dom%20Muchovo%20n%C3%A1mestie!5e0!3m2!1sru!2ssk!4v1569165599686!5m2!1sru!2ssk"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</footer>

<footer class="footer-company">
    <div class="container">
        <div>
            2019 © <b>Aura.Flowers</b>, @Localizer["footer-company-text"] <a href="https://i-feature.net">i-feature</a>
        </div>
        <div class="footer-company-data">
            Mikhail Timonin - SvetTima.<br /> Drieňová 16940/1H. 82101 Bratislava. Slovakia. <br />IČO 50261380 | DIČ 3120120784 | IČ DPH SK3120120784.
        </div>
    </div>
</footer>